@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  --color-primary: #02a650;
  --color-white: #ffffff;
  --color-black: #141628;
  --color-black-1: #212b38;
  --color-lightGray: #f0f0f0;
  --color-lightGray-1: #dbdada;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* override default browser font-size: 62.5% X 16px =10px */
  font-size: 62.5%; /* 1rem = 10px */
}
/* body {
  font-family: "Montserrat", "Lato", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-lightGray);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "navbar navbar"
    "main-content sidebar"
    "footer sidebar";
}
nav {
  grid-area: navbar;
}
main {
  grid-area: main-content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
} */
body {
  font-family: "Montserrat", "Lato", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: var(--color-black);
  background-color: var(--color-lightGray);
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}
/*==== NAVBAR =====*/
nav {
  grid-area: navbar;
  background-color: var(--color-white);
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 0 1.3rem;
  z-index: 5;
  position: sticky;
  top: 0;
}
/*Desktop Navbar*/
.desktopNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/*logo*/
.logo {
  display: flex;
  margin: 1rem;
  color: var(--color-black);
  justify-content: center;
  align-items: center;
}
.logo_img {
  width: 5rem;
  border-radius: 50%;
  flex-shrink: 0;
}
.logo_text {
  color: var(--color-black);
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  display: none;
  flex-direction: column;
  text-wrap: wrap;
  text-align: center;
  margin-top: 0.7rem;
}
.holistic {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 800;
  font-weight: bold;
}

.nav_links {
  color: var(--color-black);
  display: none;
  align-items: center;
  justify-content: space-between;
}

.nav_links ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_links ul li {
  height: 3rem;
  position: relative;
  /* padding: 5px 8px; */
  margin-right: 1rem;
}
.nav_links ul li a {
  height: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
  font-weight: 500;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
}
.dropdown {
  display: flex;
  align-items: center;
}
.nav_links ul li a:hover {
  color: var(--color-primary);
  /* padding: 5px; */
}
/*submenues*/
.dropdown_menu {
  display: none;
}
.nav_links ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-white);
  /* background-color: var(--color-primary); */
}
.dropdown_menu ul {
  display: block;
  margin: 0.5rem;
}
.dropdown_menu ul li {
  width: 10rem;
  padding: 0 0.5rem;
}
.dropdown_menu ul li a {
  font-size: 1.2rem;
}

.dropdown_menu ul li a:hover {
  color: var(--color-primary);
  background-color: var(--color-lightGray);
}
/*mobile menu*/
.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 8rem;
  height: 100vh;
  width: 30rem; /*25rem*/
  z-index: 999;
  backdrop-filter: blur(10px); /* blur the background  */
  background-color: rgb(
    255,
    255,
    255,
    0.2
  ); /* for blur to work the background should be transparent */

  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center; /*flex-start*/
  justify-content: flex-start;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.mobileLink {
  width: 100%;
  height: 5rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.6rem;
  transition: background-color 0.3s ease;
}
.mobileLink:hover {
  background-color: var(--color-lightGray-1);
  color: var(--color-primary);
}

.mobileMenuIcons {
  flex-shrink: 0;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
}
.mobileMenuIcons:hover {
  color: var(--color-primary);
}
.menu-icon {
  display: block;
}

.closeMenu {
  position: absolute;
  top: 2.2rem;
  right: 1rem;
  font-weight: bolder;
}

.show {
  display: flex;
}

/*=== MAIN CONTENT ===*/
.main-content {
  min-height: 100vh;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
p {
  text-align: justify;
  margin-bottom: 1rem;
}
.section_heading {
  text-align: center;
  margin: 4rem 0 1rem;
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: 500;
}
/*=== HOME PAGE===*/
/*Hero */
.hero {
  padding-top: 200px;
  width: 100%;
  height: 30rem;
  background-image: url(/images/hero1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroText {
  position: relative;
  display: flex;
  justify-content: end;
  justify-items: end;
  align-items: end;

  bottom: 0;
}
.hero h1 {
  /* background-color: rgba(0, 250, 250, 0.1); */
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 25rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 7rem;
  border-radius: 40px 0;
}
/*About Section*/
section .section_content,
.page .section_content {
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 10px;
  color: var(--color-black);
}
/*Cards*/
.cards {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* background-color: var(--color-lightGray); */
  color: var(--color-black-1);
  margin: 4rem auto;
  padding: 1rem;
  display: grid;
  justify-content: space-evenly;
  gap: 1.2rem;
}
.card {
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 6rem 0;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card_icon {
  font-size: 4rem;
  color: var(--color-primary);
  margin: 2rem auto;
  margin-bottom: 0;
}
.card_image {
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.bulletPoints {
  list-style-type: var(--color-primary);
  /* list-style-image: url(/images/hand.png); */
  margin: 1rem;
  padding-left: 2rem;
  text-align: start;
}
.bulletPoints li::marker {
  color: var(--color-primary); /* Changes the color of the bullet/number */
  font-size: 2rem; /* Increases the size of the bullet/number */
}
.btn {
  justify-items: center;
  text-align: center;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
  padding: 0.3rem 0;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
}
.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn .btnLarge {
  width: 50%;
}
.cards .btn {
  font-size: 1rem;
  padding: 0.1rem;
}
/* consultancy_section */
.consultancy_section .cards {
  margin-top: 0;
}
/* training_section */
.trainingsCard {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.quote {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 2rem;
  text-align: justify;
  justify-items: center;
  align-items: center;
}
.trainingsCard img {
  margin: 0 auto;
  width: 100%;
  height: 30vh;
  padding-right: 1rem;
  border-radius: 0 1rem;
}
/*====ABOUT PAGE===*/
.message {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.profile {
  width: 100%;
  text-align: center;
}
.profile img {
  border-radius: 50%;
  margin: 0 auto;
  width: 15rem;
  border: 1px solid var(--color-primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.name_caption {
  justify-items: center;
  text-align: center;
  margin: 2rem;
}
.name_caption p {
  font-size: 1.3rem;
  margin-bottom: 0;
  color: var(--color-primary);
}
.subtitle {
  font-size: 1.4rem;
  margin: 5rem 0 1rem;
  font-weight: bold;
  color: var(--color-primary);
}
table {
  margin: 0 auto;
}
table,
th,
td {
  padding: 0.3rem;
  border: 2px solid #141628;
}
/*===SERVICES====*/
.consultancyGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.image_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.caption {
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 0;
}
.caption h4 {
  color: var(--color-primary);
  margin: 1rem 0;
  font-size: 1.3rem;
}
.justifyList {
  text-align: justify;
}
.trainingGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
/*===CONTACT PAGE===*/
.address {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}
.address_title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem auto;
  color: #9e9fa0;
}
.icon_group {
  /* display: flex; */
  gap: 1rem;
  margin-bottom: 2rem;
}
.icon_group .label {
  display: flex;
  gap: 0.5rem;
}
.icon_group .label span {
  color: #9e9fa0;
  font-weight: 600;
}
.contact_icon {
  justify-content: center;
  font-size: 1.5rem;
  align-items: center;
  justify-items: center;
  color: var(--color-primary);
}
.icon_group .contact {
  margin-left: 2rem;
}
.icon_group a {
  color: #0852b3;
  margin-bottom: 0.5rem;
}
.icon_group a:hover {
  color: var(--color-primary);
}
.socialLinks {
  color: var(--color-black-1);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  gap: 2rem;
}
.socialLinks a:hover {
  color: var(--color-primary);
}
.googleMap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.googleMap img {
  width: 100%;
}
/*contact form*/
.contactForm {
  width: 80%;
  margin: 0 auto;
}

.formGroup label {
  color: var(--color-black-1);
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
}
.formGroup input,
.formGroup textarea {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border: 1px solid var(--color-black-1);
  border-radius: 5px;
  padding: 0.5rem;
}
.btnWithIcon {
  display: flex;
}
/*===FOOTER===*/
footer {
  margin: 2rem auto;
  margin-bottom: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.footerDiv {
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--color-black-1);
  color: var(--color-white);
  justify-items: center;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1rem;
}
.footer_card {
  text-align: start;
}
.footer_card h3 {
  color: #b9babb;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer_card p {
  padding-left: 2rem;
}

.footer_icons {
  display: flex;
  margin-bottom: 1rem;
}
.footer_icon {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.social_links {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  gap: 2rem;
  cursor: pointer;
}
.social_links a:hover {
  color: var(--color-primary);
}
.copyright {
  color: var(--color-black);
  text-align: end;
}
/*===MEDIA QUERIES : mobile first approach*/
/*Styles for screens 768px and wider (e.g., tablets) */
/* 768px/16px==48rem */
@media (min-width: 48rem) {
  html {
    font-size: 75%; /* 75% x 16px = 12px increase the base font size by 75%  or 12px/16px=75%*/
  }
  body {
    /* font-size: 1.4rem; */
  }

  .footerDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 864px/16px==54rem*/
@media (min-width: 54rem) {
  body {
    /* font-size: 1.8rem; */
  }
  .nav_links {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
  .trainingsCard {
    grid-template-columns: 1fr 1fr;
  }
  .message,
  .consultancyGrid {
    grid-template-columns: 1fr 2fr;
  }
  .trainingGrid {
    grid-template-columns: 2fr 1fr;
  }
  .address {
    grid-template-columns: 1fr 1fr;
  }
  .footerDiv {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*Styles for screens 1024px and wider (e.g., small laptops, desktops) */
/* 1024/16==64rem */
@media (min-width: 64rem) {
  html {
    font-size: 87.5%; /* 87.5% x 16px = 14px increase the base font size by 87.5% */
  }
  body {
    /* font-size: 1.3rem; */
  }
  .logo_text {
    display: flex;
  }
  .card_image {
    width: 100%;
    height: 10rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*   Styles for screens 1200px and wider (e.g., large desktops) */
/* 1200/16==75*/
@media (min-width: 75rem) {
  html {
    font-size: 100%; /* 100% x 16px = 16px increase the base font size by 100% */
  }
  body {
    /* font-size: 1.4rem; */
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
