@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  --color-primary: #02a650;
  --color-white: #ffffff;
  --color-black: #141628;
  --color-black-1: #212b38;
  --color-lightGray: #f0f0f0;
  --color-lightGray-1: #dbdada;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* override default browser font-size: 62.5% X 16px =10px */
  font-size: 62.5%; /* 1rem = 10px */
}
/* body {
  font-family: "Montserrat", "Lato", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-lightGray);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "navbar navbar"
    "main-content sidebar"
    "footer sidebar";
}
nav {
  grid-area: navbar;
}
main {
  grid-area: main-content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
} */
body {
  font-family: "Montserrat", "Lato", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: var(--color-black);
  background-color: var(--color-lightGray);
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}
/*NAVBAR*/
nav {
  grid-area: navbar;
  background-color: var(--color-white);
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 0 1.3rem;
  z-index: 5;
  position: sticky;
  top: 0;
}
.desktopNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/*logo*/
.logo {
  display: flex;
  margin: 1rem;
  color: var(--color-black);
  justify-content: center;
  align-items: center;
}
.logo_img {
  width: 7rem;
  border-radius: 50%;
  flex-shrink: 0;
}
.logo_text {
  color: var(--color-black);
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  display: none;
  flex-direction: column;
  text-wrap: wrap;
  text-align: center;
  margin-top: 0.7rem;
}
.holistic {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 800;
  font-weight: bold;
}

.nav_links {
  color: var(--color-black);
  display: none;
  align-items: center;
  justify-content: space-between;
}

.nav_links ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_links ul li {
  height: 3rem;
  position: relative;
  /* padding: 5px 8px; */
  margin-right: 1rem;
}
.nav_links ul li a {
  height: 100%;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all 0.3s;
  font-weight: 500;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
}
.dropdown {
  display: flex;
  align-items: center;
}
.nav_links ul li a:hover {
  color: var(--color-primary);
  /* padding: 5px; */
}
/*submenues*/
.dropdown_menu {
  display: none;
}
.nav_links ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-white);
  /* background-color: var(--color-primary); */
}
.dropdown_menu ul {
  display: block;
  margin: 0.5rem;
}
.dropdown_menu ul li {
  width: 10rem;
  padding: 0 0.5rem;
}
.dropdown_menu ul li a {
  font-size: 1.2rem;
}

.dropdown_menu ul li a:hover {
  color: var(--color-primary);
  background-color: var(--color-lightGray);
}
/*mobile menu*/
.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 8rem;
  height: 100vh;
  width: 30rem; /*25rem*/
  z-index: 999;
  backdrop-filter: blur(10px); /* blur the background  */
  background-color: rgb(
    255,
    255,
    255,
    0.2
  ); /* for blur to work the background should be transparent */

  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center; /*flex-start*/
  justify-content: flex-start;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.mobileLink {
  width: 100%;
  height: 5rem;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.6rem;
  transition: background-color 0.3s ease;
}
.mobileLink:hover {
  background-color: var(--color-lightGray-1);
  color: var(--color-primary);
}

.mobileMenuIcons {
  flex-shrink: 0;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
}
.mobileMenuIcons:hover {
  color: var(--color-primary);
}
.menu-icon {
  display: block;
}

.closeMenu {
  position: absolute;
  top: 2.2rem;
  right: 1rem;
  font-weight: bolder;
}

.show {
  display: flex;
}

/*Main content*/
.main-content {
  min-height: 100vh;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
p {
  text-align: justify;
  margin-bottom: 1rem;
}
.section_heading {
  text-align: center;
  margin: 1rem 0 2rem;
  font-size: 2rem;
  font-weight: 500;
}
/*Home Page*/
/*Hero */

/*About Section*/
section {
}
.about_section .section_content {
  padding: 2rem;
  background-color: var(--color-lightGray);
  background-color: #212b38;
  border-radius: 10px;
  color: #fff;
}
/*Cards*/
.cards {
  /* background-color: var(--color-lightGray); */
  color: var(--color-black-1);
  margin: 4rem auto;
  padding: 1rem;
  display: grid;
  justify-content: space-evenly;

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  gap: 1.2rem;
}
.card {
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card_icon {
  font-size: 4rem;
  color: var(--color-primary);
  margin: 2rem auto;
  margin-bottom: 0;
}
.card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
/*Footer*/
footer {
  background-color: var(--color-black-1);
  margin: 2rem auto;
  display: flex;
}
/*Media Queries : mobile first approach*/
/*Styles for screens 768px and wider (e.g., tablets) */
/* 768px/16px==48rem */
@media (min-width: 48rem) {
  html {
    font-size: 75%; /* 75% x 16px = 12px increase the base font size by 75%  or 12px/16px=75%*/
  }
  body {
    /* font-size: 1.4rem; */
  }
}
/* 864px/16px==54rem*/
@media (min-width: 54rem) {
  body {
    /* font-size: 1.8rem; */
  }
  .nav_links {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
}
/*Styles for screens 1024px and wider (e.g., small laptops, desktops) */
/* 1024/16==64rem */
@media (min-width: 64rem) {
  html {
    font-size: 87.5%; /* 87.5% x 16px = 14px increase the base font size by 87.5% */
  }
  body {
    /* font-size: 1.3rem; */
  }
  .logo_text {
    display: flex;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*   Styles for screens 1200px and wider (e.g., large desktops) */
/* 1200/16==75*/
@media (min-width: 75rem) {
  html {
    font-size: 100%; /* 100% x 16px = 16px increase the base font size by 100% */
  }
  body {
    /* font-size: 1.4rem; */
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
